<!doctype html>
<html>
<head>

<meta charset="utf-8">
<title>体检方案_{$config.title}</title>

{include file="public:header" /}
<script type="text/javascript" src="__HOME__/js/public.js"></script>

</head>

<body style=" background: #f7fafb;">
<!--全局开始--> 
 
<div class="web-main">

<div class="public-top">
      <h2>体检方案</h2>
      <dl class="fanh">
            <dt><img src="__HOME__/images/fanh.png"></dt>
            <dd>返回</dd>
      </dl>
</div>
<!--公共头部结束-->

<div class="TJfangan">
      <ul class="TJfangan-1">
            <li class="on">健康体检</li>
            <li>影像检查</li>
            <span></span>
      </ul>
      <div class="TJfangan-2">
            <ul class="on">
                  {volist name="healthInfo" id="vo"}
                        <li onclick="javascript:window.location.href='{$vo.url}'">
                              <img src="{$vo.img}" height="130px">
                              <h3>{$vo.title}</h3>
                              <p>{$vo.description|mb_substr=0,18,'utf-8'}</p>
                        </li>
                  {/volist}
            </ul>
            <ul>  
                  {volist name="imagesInfo" id="vo"}
                        <li onclick="javascript:window.location.href='{$vo.url}'">
                              <img src="{$vo.img}" height="130px">
                              <h3>{$vo.title}</h3>
                              <p>{$vo.description|mb_substr=0,18,'utf-8'}</p>
                        </li>
                  {/volist}
            </ul>
      </div>
</div>



<!--公共底部-->

{include file="public:footer" /}

{include file="public:zixun" /}
<!--引用js开始-->
<script type="text/javascript">
      $(function(){
            $(".TJfangan-1 li").click(function() {
                  $(this).addClass('on').siblings().removeClass('on');
                  $(".TJfangan-2 ul").eq($(this).index()).addClass('on').siblings().removeClass('on');
            });
      })
</script>
<!--引用js结束-->
</div>
<!--全局结束--> 

</body>
</html>
