<!doctype html>
<html>
<head>

<meta charset="utf-8">
<title>{$shebeiInfo.title}_{$config.title}</title>
{include file="public:header" /}
<script type="text/javascript" src="__HOME__/js/public.js"></script>

</head>

<body>
<!--全局开始--> 
<div class="web-main">

<div class="public-top">
      <h2>设备介绍</h2>
      <dl class="fanh">
            <dt><img src="__HOME__/images/fanh.png"></dt>
            <dd>返回</dd>
      </dl>
</div>
<!--公共头部结束-->

<div class="shebei">
	<img src="__HOME__/images/shebei-1.jpg" width="100%">
	<h3>{$shebeiInfo.title}</h3>
      <h4>{$shebeiInfo.shebei_title}</h4>
	<p>{$shebeiInfo.content}</p>
</div>

<!--公共底部-->

{include file="public:footer" /}

{include file="public:zixun" /}

<script type="text/javascript">
      $(function(){
            var id = {$shebeiInfo.id};
            $.ajax({
            url:"{:url('index/click')}",
            data:{id:id},
            type:'post',
            dataType:'json',
        })
      })
</script>
</div>
<!--全局结束--> 

</body>
</html>
