<!doctype html>
<html>
<head>

<meta charset="utf-8">
<title>影像检查_{$config.title}</title>
{include file="public:header" /}
<script type="text/javascript" src="__HOME__/js/public.js"></script>
</head>

<body>
<!--全局开始--> 
<div class="web-main">

<div class="public-top">
      <h2>影像检查</h2>
      <dl class="fanh">
            <dt><img src="__HOME__/images/fanh.png"></dt>
            <dd>返回</dd>
      </dl>
</div>
<!--公共头部结束-->

<div class="fangan-xq">
	<img src="__UPLOADS__/{$imagesInfo.img}">
      <h3>{$imagesInfo.title}</h3>
      {$imagesInfo.content}
      <a href="{:url('index/addOrder',['orderID'=>$imagesInfo.orderID,'orderType'=>0])}">立即预约</a>
</div>

<!--公共底部-->
<script type="text/javascript">
      $(function(){
            var id = {$imagesInfo.id};
            $.ajax({
            url:"{:url('index/click')}",
            data:{id:id},
            type:'post',
            dataType:'json',
        })
      })
</script>
</div>
<!--全局结束--> 

</body>
</html>
