<!doctype html>
<html>
<head>

<meta charset="utf-8">
<title>身份证号修改_{$config.title}</title>

{include file="public:header" /}
<script type="text/javascript" src="__HOME__/js/isLogin.js"></script>
{include file="public:public" /}
<!-- 时间选择插件 -->
<link href="__ADMIN__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">



</head>

<body style=" background: #f7fafb;">
<!--全局开始--> 
<div class="web-main">

<div class="public-top" style="padding-bottom: 36px;">
      <h2 style="margin-top: 0px;">修改身份证号</h2>
      <dl class="fanh">
            <dt><img src="__HOME__/images/fanh.png"></dt>
            <dd>返回</dd>
      </dl>
</div>
<!--公共头部结束-->
<script type="text/javascript">
      var token = getToken('token');

      var values = ["token", "timestamp"];
      var datas = {
          "token": token,
          "timestamp": timestamp,
      };
      var sign  = doSign(values, datas);

      $(function(){
          $.ajax({
                url:'/app/accoutInfo/getInfo',
                data:{sign:sign,token:token},
                type:'POST',
                dataType:'json',
                success:function(data){
                  if(data.success == true){
                      if(data.info['cardNo']){
                          document.getElementById('cardNo').value = data.info['cardNo'];
                      }
                  }
                }
          })

          $('#Gname-sub').click(function(){
                var cardNo = $('#cardNo').val();
                var value = ["cardNo", "token", "timestamp"];
                var data = {
                    "cardNo":cardNo,
                    "token": token,
                    "timestamp": timestamp,
                };
                var signs  = doSign(value, data);

                $.ajax({
                      url:'/app/accoutInfo/baseInfo',
                      data:{cardNo:cardNo,sign:signs,token:token,key:key,timestamp:timestamp},
                      type:'POST',
                      dataType:'json',
                      success:function(data){
                            if(data.success == true){
                                  layer.msg('身份证号修改成功', {
                                       icon: 1,
                                       time: 3000
                                  }, function(){
                                       window.location.href ='/index/index/pdata';
                                  });
                            }
                      }
                })
          })
    })
</script>

<div class="xinxiwanshan" style="display: block;">
      <p>身份证号
            <input type="text" name=""  value="" id="cardNo" />   
      </p> 
      <input type="submit" value="保存" id="Gname-sub" />
</div>

<!--公共底部-->
</div>
<!--全局结束--> 
<script src="__ADMIN__/js/plugins/iCheck/icheck.min.js"></script>
<script src="__ADMIN__/js/plugins/layer/layer.min.js"></script>
</body>
</html>
