<meta name="description" content="{$config.description}">
<meta name="keywords" content="{$config.keyword}">

<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

<script type="text/javascript" src="__HOME__/js/rem.js"></script>
<link rel="stylesheet" type="text/css" href="__HOME__/css/css.css" />

<script type="text/javascript" src="__HOME__/js/jquery-1.10.1.min.js"></script>