<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>全景医学上海中心手机站</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="__ADMIN__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__ADMIN__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__ADMIN__/css/animate.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <!-- <div class="col-sm-3">
            <h2></h2>
            <small><a href="" target="_blank">全景医学上海中心手机站</a> </small><br><br><small>上海全景医学影像诊断中心微信二维码</small>
            <br>
            <br>
            <img src="__ADMIN__/img/qjewm.jpg" width="100%" style="max-width:264px;">
            <br>
        </div> -->
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <!-- <h2>全景定位：</h2>
            <p>全景是专注于疑难病诊断的专业医学诊断机构。</p>
            <p>
                上海全景医学影像诊断中心有限公司是一家致力于精准医学的创新型医疗机构，它是精准影像的先行者、深度健检的实践者、专属医疗的提供者。全景医学影像诊断中心全国连锁，布局一线和区域中心城市，集合了国际尖端医学影像诊断设备和国内最优的医疗专家资源，以精准影像诊断为立身之本，融汇疾病管理与治疗，打造特需医疗消费人群与医疗专家的社交平台，以国际化医疗服务标准和理念为国内外特需人群提供影像诊断、特色体检以及后续的健康管理专属医疗服务。真正实现健康有人管，看病不再难。
            </p>
            <p><img src="__ADMIN__/img/qjsgz.jpg"  height: 75px; /></p>
            <br>
            <br>
            <p>
                <i class="fa fa-phone"> </i> 联系客服：{$info.tel}
                <a class="btn btn-white btn-bitbucket" href="__ROOT__" target="_blank">
                    <i class="fa fa-home"></i> 访问全景医学上海手机站
                </a>
            </p> -->
        </div>
    </div>
    <script src="__ADMIN__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__ADMIN__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__ADMIN__/js/plugins/layer/layer.min.js"></script>
    <script src="__ADMIN__/js/content.min.js"></script>
    <script src="__ADMIN__/js/welcome.min.js"></script>
</body>

</html>
