<!doctype html>
<html lang="zh-CN">
<head>
    <title>名品简介 - 名品商标转让网</title>        
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="applicable-device" content="mobile">
        <script type="text/javascript" src="__INDEX__/js/jquery.min.js"></script>
    <script>
        var userInfo;
        var login_callback_func = [];
        function addLoginCallbackFunc(func){
            login_callback_func.push(func);
        }
    </script>    
    <script type="text/javascript" src="__INDEX__/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__INDEX__/css/bootstrap.css" type="text/css" />
    <script type="text/javascript" src="__INDEX__/js/iscroll-probe.js" defer></script>
    <script type="text/javascript" src="__INDEX__/js/layer.js" defer></script>
    <link rel="stylesheet" href="__INDEX__/css/layer.css" type="text/css" />
    <link rel="stylesheet" href="__INDEX__/css/style.css" type="text/css" />
    <script type="text/javascript" src="__INDEX__/js/common2_6.js" defer></script>
    <link rel="stylesheet" href="__INDEX__/css/iconfont.css" type="text/css" />

</head>
<body>
<div id="body_wrap" class=" ">
    <div>
        <div id="body">
            
<style>
#header_log_tg {display: none;}
</style>
<div id="header_cont" >
        <div id="header_logo">
       <a href="/index"><img src="__INDEX__/img/top1_1.png" /></a>
                         </div>
    <!-- tgmp页面头部 -->
    <div id="header_log_tg">
        <a href="/index"><img src="__INDEX__/img/logo_w.png" /></a>
    </div>
        <!-- 留号码 -->
    
            
        <div id="header_about">
        <div id="header_fixed_about">
            <ul>
                <li><a class="active" href="/about_us" title="关于我们">关于名品</a></li>
                <li><a  href="/employee" title="专业服务">专业服务</a></li>
                <li><a  href="/process" title="交易流程">交易流程</a></li>
                <li><a  href="/success_recommend" title="成功案例">成功案例</a></li>
            </ul>
        </div>
    </div>
    
    <div style="display: none;">
        <ul class="dropdown_menu" id="dropdown_menu">
            <li><a href="/index">返回首页</a></li>
            <li class="divider"></li>
            <li><a href="/category">商标分类</a></li>
            <li class="divider"></li>
            <li><a href="/carte">我的收藏</a></li>
            <li class="divider"></li>
            <li><a data-type="67" class="telphone_hotline" href="tel:400-728-7208">联系名品</a></li>
        </ul>
    </div>
</div>            <script>
    $(function(){
        $(".telphone_button").click(function(){
            var phone = $(this).parent().find(".telphone_input").val();
            var myreg = /^1[0-9]{10}$/; 
            var detail_type = 208;
            clickBtn(detail_type);
            if(!myreg.test(phone)) 
            { 
                alert('请输入有效的手机号码！'); 
                return false;
            }
            $.post("/leave_phone", {"phone":phone, 'email_type':5, '_token': csrf_token, 'detail_type':detail_type}, function(result){
                if(result.status==1){
                    clickFrom(phone, detail_type);
                    
                    HiTipsShowTest("<p class='redbold'>恭喜您，已提交成功！</p><p>稍后您将收到区号为5073开头的电话，请注意接听，谢谢！</p>", 5000);
                    $(".telphone_input").val("");
                    bdAPI(3);
                }else{
                    alert("手机号格式不正确！");
                }
            }, "json");
        })
    })
</script>

<link rel="stylesheet" href="__INDEX__/css/about_us.css" type="text/css" />
<div class="img_cont">
    <img class="lazy" src="__INDEX__/img/2_2_1.png" />
</div>
<div class="img_cont">
    <img class="lazy" src="__INDEX__/img/3_2.png" />
</div>
<div class="img_cont">
    <img class="lazy" src="__INDEX__/img/4.png" />
</div>
<div class="img_cont">
    <img class="lazy" src="__INDEX__/img/5_2.png" />
</div>
<div class="img_cont">
    <img class="lazy" src="__INDEX__/img/6.png" />
</div>
<div class="telphone_div">
    <p class="title">专业的事交给我们，快速获取商标</p>
    <p style="color:#868686">成功匹配商标打到<b style="color:#FD9B2D;">7231</b>次，成就知道名品约<b style="color:#FD9B2D;">3510</b>家</p>
    <input class="telphone_input" type="tel" name="telphone" placeholder="输入您的联系电话">
    <button class="telphone_button">快速获取商标信息</button>
</div>
<div class="img_cont" style="margin-top:10px;">
    <img class="lazy" src="__INDEX__/img/8_2.png" />
</div>
<div class="img_cont">
    <img class="lazy" src="__INDEX__/img/9_3.png" />
</div>
        </div>
                                                <div id="footer_menu">
    <ul>
        <li >
            <a href="/index">
                          <img src="__INDEX__/img/home-b.png" />
                          <p>首页</p>
            </a>
        </li>
                <li >
            <a href="/search">
                          <img src="__INDEX__/img/search-b.png" />
                          <p>找商标</p>
            </a>
        </li>
                <li class="ljzx">
            <a id="menu_hot_telphone" data-type="66" href="javascript:;"><img src="__INDEX__/img/phone_bottom.png" /></a>
        </li>
        <li >
            <a href="/carte" id="fixed_bottom_aixin">
              <span id="fixed_carte_num"></span>
                          <img src="__INDEX__/img/heart-b.png" />
                          <p>收藏</p>
            </a>
        </li>
        <li  class="active" >
            <a href="/about_us">
                          <img src="__INDEX__/img/about_us@3x.png" />
                          <p>关于我们</p>
            </a>
        </li>
    </ul>
</div>
<div id="footer_menu_tgmp">
    <ul>
        <li>
            <a href="/index">
              <img src="__INDEX__/img/home-gray.png" />
              <p>首页</p>
            </a>
        </li>
        <li>
            <a href="/search">
              <img src="__INDEX__/img/search-gray.png" />
              <p>搜索</p>
            </a>
        </li>
        <li class="ljzx">
            <a class="common_ask_btn" click_detail_type="607" detail_type="608" href="javascript:;">
                <img src="__INDEX__/img/phone01.png" />
                <p>立即咨询</p>
            </a>
        </li>
        <li>
            <a href="/carte"  class="" id="fixed_bottom_aixin">
              <span id="fixed_carte_num"></span>
              <img src="__INDEX__/img/star-gray.png" />
              <p>收藏</p>
            </a>
        </li>
        <li>
            <a href="/about_us">
              <img src="__INDEX__/img/us-gray.png" />
              <p>我们</p>
            </a>
        </li>
    </ul>
</div>
            </div>

            <div id="fixed_right">
            <div id="fixed_back_to_top" class="iconfont icon-totop"></div>
        </div>
    
    <link rel="stylesheet" href="__INDEX__/css/ui-dialog.css" type="text/css" />
<script type="text/javascript" src="__INDEX__/js/dialog-min.js" defer></script>
<script type="text/javascript" src="__INDEX__/js/clipboard.min.js"></script>
<script type="text/javascript">

var test_version = 0;
var layer_timing_img1 = "__INDEX__/mobile/close.png?imageslim";
var layer_timing_img2 = "__INDEX__/mobile/logo.png?imageslim";
var layer_timing_img3 = "__INDEX__/mobile/person.png?imageslim";


var layer_success_img = "__INDEX__/mobile/layer_success_img.png?imageslim";
var layer_close_img = "__INDEX__/mobile/layer_close_img.png?imageslim";
var list_fav_red = "__INDEX__/mobile/list_fav_red.png?imageslim";
var list_fav = "__INDEX__/mobile/list_fav.png?imageslim";
var csrf_token = "jnDvDnjwEF0YZFE5U1C7JjajhO2smIzrA9GmBYpY";

var request_path = "about_us";
var register_brand_id = "";
var register_from_view = "";
var register_detail_type = "";
var is_sale_view = 0;
var hot_telphone = "400-728-7208";
var clipboard = new Clipboard('.do_weixin_copy');
clipboard.on('success', function(e) {
    //alert("已复制微信号，现在打开微信加好友");
    //跳转到微信 待定
    // window.open("http://weixin.qq.com/r/mNjdxZvE_caGrd_m942K");
    $(".center_wechat_box").removeClass("active");
    $("#wechat_box_shadow").hide();
    layer.open({
        move: false,
        style: "min-width: 310px; width:90%;max-width:410px;",
        skin: "wechat_message",
        time: 5,
        content:'<div class="left"><img src="__INDEX__/mobile/success@2x.png?imageslim" /></div>\
        <div class="right">\
            <p class="first">已复制成功！</p>\
            <p class="sec">请到微信添加好友咨询。</p>\
            <p class="last"><span class="wechat_close_span">5</span>秒后自动关闭</p>\
        </div>'
    });
    var new_s = 5;
    IntervalHittops = setInterval(function () {
        if(new_s>1){
            new_s--;
            $(".wechat_close_span").html(new_s);
        }else{
            hideMsg();
        }
    }, 1000);
});
</script>

<script type="text/javascript" src="__INDEX__/js/jquery.fly.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/common.js"></script>


<div class="wechat_icon" id="tg_wx_left" detail_type="29"><img src="__INDEX__/img/wechat.png" /></div>
<div id="wechat_box_shadow"></div>
<div class="center_wechat_box">
    <p class="title">添加商标顾问微信<img src="__INDEX__/img/caht_03.jpg" /></p>
    <span class="close"><img src="__INDEX__/img/layer_close_img.png" /></span>
    <div id="wechat_content">
        <a href="tel:400-728-7208" class="wechat_num telphone_hotline" data-type="205">188-6830-6888</a>
        <p class="do_weixin_copy" data-clipboard-text="188-6830-6888">立即复制</p>
    </div>
</div>
<div id="fixed_liaojie" class="liaojie" style="display:none;">
    <img src="__INDEX__/img/liaojie.gif">
</div>
<a class="tncode" style="opacity: 0;position: absolute;top:-100px;left:-2000px;">验证码</a>
         

<script type="text/javascript" src="__INDEX__/js/tn_code.js"></script></div>
</body>
</html>