<!doctype html>
<html lang="zh-CN">
<head>
    <title>商标分类 - 名品商标转让网</title>        
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="applicable-device" content="mobile">
    <script type="text/javascript" src="__INDEX__/js/jquery.min.js"></script>
    <script>
        var userInfo;
        var login_callback_func = [];
        function addLoginCallbackFunc(func){
        	login_callback_func.push(func);
        }
    </script>    
    <script type="text/javascript" src="__INDEX__/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__INDEX__/css/bootstrap.css" type="text/css" />
    <script type="text/javascript" src="__INDEX__/js/iscroll-probe.js" defer></script>
    <script type="text/javascript" src="__INDEX__/js/layer.js" defer></script>
    <link rel="stylesheet" href="__INDEX__/css/layer.css" type="text/css" />
    <link rel="stylesheet" href="__INDEX__/css/style.css" type="text/css" />
    <script type="text/javascript" src="__INDEX__/js/common2_6.js" defer></script>
    <link rel="stylesheet" href="__INDEX__/css/iconfont.css" type="text/css" />
    <script type="text/javascript">
        var searchObj = new Object();
        var layer_success_img = "__INDEX__/mobile/layer_success_img.png?imageslim";
        var layer_close_img = "__INDEX__/img/layer_close_img.png";
    </script>

    <style>
        body{
            -webkit-text-size-adjust: 100% !important;
            text-size-adjust: 100% !important;
            -moz-text-size-adjust: 100% !important;
        }

        #contact_seller_phone, #login_phone{ background-image: url('__INDEX__/images/login-phone.png') }

        #phone_code{ background-image: url('__INDEX__/images/login-key.png') }

        #dialog_cs_div .note_register_telphone{ background-image: url("__INDEX__/images/a-red.png"); }
    </style>
</head>
<body>
<div id="body_wrap" class=" ">
    <div>
        <div id="body">
            <script type="text/javascript">
                $(function(){
            		$('#top_right_menu').popover({
                		content: $("#dropdown_menu"),
                		html: true,
                		placement: 'bottom'
                	});

                });

            </script>
<style>
#header_log_tg {display: none;}
</style>
<div id="header_cont" >
        <div id="header_back">
        <i class="left_back" onclick="history.go(-1)"><img src="__INDEX__/img/top-back.png" /></i>
        45类分类表   
        <i class="right_menu" id="top_right_menu"><img src="__INDEX__/img/top-menu.png" /></i>
    </div>
        <!-- 留号码 -->
    
        <div id="header_left_phone">
        <div id="header_fixed_left_phone">
            <div class="left_phone_cont">
                <input class="header_phone" autocomplete="off" type="text" placeholder="请输入您的联系电话" />
                <a class="call_me" href="javascript:;">快速回电</a>
                 
                <div id="single_back" onclick="history.go(-1)"><img src="__INDEX__/img/fixed_back.png" /></div>
                            </div>
        </div>
    </div>
    
            
    
    <div style="display: none;">
        <ul class="dropdown_menu" id="dropdown_menu">
            <li><a href="/index">返回首页</a></li>
            <li class="divider"></li>
            <li><a href="/category">商标分类</a></li>
            <li class="divider"></li>
            <li><a href="/carte">我的收藏</a></li>
            <li class="divider"></li>
            <li><a data-type="67" class="telphone_hotline" href="tel:400-728-7208">联系名品</a></li>
        </ul>
    </div>
</div>            
<link rel="stylesheet" href="__INDEX__/css/category.css" type="text/css" />
<div class="bg_line"></div>
<div class="cate_list">
        <ul class="item_category">
            
            {volist name="info" id="vo"}
                <li onclick="window.location.href='/search?category={$vo.id}'">
                    <div><img src="__UPLOADS__/{$vo.img}" /></div>
                    <p>{$vo.name}</p>
                </li>
            {/volist}
            
        </ul>
        <a class="bt_more_cates" href="/brand_category">更多明细，请参阅第十一版相似商标分类表>></a>
</div>
<div class="end_line"></div>
        </div>
                                                <div id="footer_menu">
	<ul>
		<li >
    		<a href="/index">
    		      		  <img src="__INDEX__/img/home-b.png" />
    		       		  <p>首页</p>
    		</a>
		</li>
        		<li >
    		<a href="/search">
    		      		  <img src="__INDEX__/img/search-b.png" />
    		       		  <p>找商标</p>
    		</a>
		</li>
        		<li class="ljzx">
    		<a id="menu_hot_telphone" data-type="66" href="javascript:;"><img src="__INDEX__/img/phone_bottom.png" /></a>
		</li>
		<li >
    		<a href="/carte" id="fixed_bottom_aixin">
		      <span id="fixed_carte_num"></span>
		          		  <img src="__INDEX__/img/heart-b.png" />
    		       		  <p>收藏</p>
    		</a>
		</li>
		<li >
    		<a href="/about_us">
    		      		  <img src="__INDEX__/img/mine-b.png" />
    		       		  <p>关于我们</p>
    		</a>
		</li>
	</ul>
</div>
<div id="footer_menu_tgmp">
    <ul>
        <li>
            <a href="/index">
              <img src="__INDEX__/img/home-gray.png" />
              <p>首页</p>
            </a>
        </li>
        <li>
            <a href="/search">
              <img src="__INDEX__/img/search-gray.png" />
              <p>搜索</p>
            </a>
        </li>
        <li class="ljzx">
            <a class="common_ask_btn" click_detail_type="607" detail_type="608" href="javascript:;">
                <img src="__INDEX__/img/phone01.png" />
                <p>立即咨询</p>
            </a>
        </li>
        <li>
            <a href="/carte"  class="" id="fixed_bottom_aixin">
              <span id="fixed_carte_num"></span>
              <img src="__INDEX__/img/star-gray.png" />
              <p>收藏</p>
            </a>
        </li>
        <li>
            <a href="/about_us">
              <img src="__INDEX__/img/us-gray.png" />
              <p>我们</p>
            </a>
        </li>
    </ul>
</div>
            </div>

            <div id="fixed_right">
            <div id="fixed_back_to_top" class="iconfont icon-totop"></div>
        </div>
    
    <link rel="stylesheet" href="__INDEX__/css/ui-dialog.css" type="text/css" />
<script type="text/javascript" src="__INDEX__/js/dialog-min.js" defer></script>
<script type="text/javascript" src="__INDEX__/js/clipboard.min.js"></script>
<script type="text/javascript">

var test_version = 0;
var layer_timing_img1 = "http://static.mp.cc/image/website/mobile/525test/close.png?imageslim";
var layer_timing_img2 = "http://static.mp.cc/image/website/mobile/525test/logo.png?imageslim";
var layer_timing_img3 = "http://static.mp.cc/image/website/pc/525test/person.png?imageslim";


var layer_success_img = "http://static.mp.cc/image/website/mobile/layer_success_img.png?imageslim";
var layer_close_img = "img/layer_close_img.png";
var list_fav_red = "http://static.mp.cc/image/website/mobile/list_fav_red.png?imageslim";
var list_fav = "http://static.mp.cc/image/website/mobile/list_fav.png?imageslim";
var csrf_token = "HSbl96iefYaXYoCMDjvA12PdhuXcQ8QKtYXOxK87";

var request_path = "category";
var register_brand_id = "";
var register_from_view = "";
var register_detail_type = "";
var is_sale_view = 0;
var hot_telphone = "400-728-7208";
var clipboard = new Clipboard('.do_weixin_copy');
clipboard.on('success', function(e) {
    //alert("已复制微信号，现在打开微信加好友");
    //跳转到微信 待定
    //window.open("http://weixin.qq.com/r/mNjdxZvE_caGrd_m942K");
	$(".center_wechat_box").removeClass("active");
	$("#wechat_box_shadow").hide();
	layer.open({
    	move: false,
    	style: "min-width: 310px; width:90%;max-width:410px;",
    	skin: "wechat_message",
    	time: 5,
    	content:'<div class="left"><img src="__INDEX__/img/success@2x.png" /></div>\
    	<div class="right">\
    		<p class="first">已复制成功！</p>\
    		<p class="sec">请到微信添加好友咨询。</p>\
    		<p class="last"><span class="wechat_close_span">5</span>秒后自动关闭</p>\
		</div>'
    });
	var new_s = 5;
	IntervalHittops = setInterval(function () {
		if(new_s>1){
			new_s--;
			$(".wechat_close_span").html(new_s);
		}else{
			hideMsg();
		}
	}, 1000);
});
</script>
<script type="text/javascript" src="__INDEX__/js/jquery.fly.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/common.js"></script>


<div class="wechat_icon" id="tg_wx_left" detail_type="29"><img src="__INDEX__/img/wechat.png" /></div>
<div id="wechat_box_shadow"></div>
<div class="center_wechat_box">
    <p class="title">添加商标顾问微信<img src="__INDEX__/img/caht_03.jpg" /></p>
    <span class="close"><img src="__INDEX__/img/layer_close_img.png" /></span>
    <div id="wechat_content">
        <a href="tel:400-728-7208" class="wechat_num telphone_hotline" data-type="205">188-6830-6888</a>
        <p class="do_weixin_copy" data-clipboard-text="188-6830-6888">立即复制</p>
    </div>
</div>
<div id="fixed_liaojie" class="liaojie" style="display:none;">
    <img src="__INDEX__/img/liaojie.gif">
</div>
<a class="tncode" style="opacity: 0;position: absolute;top:-100px;left:-2000px;">验证码</a>

<script type="text/javascript" src="__INDEX__/js/tn_code.js"></script></div>
</body>
</html>